@page "/"

@inherits DarimarSystemPage

<PageTitle>Darimar System</PageTitle>

<PageDefinitions>

    <PageContent Class="d-flex align-center flex-column">

        <MudText Class="ma-1 mt-4" Typo="Typo.h4">@DarimarSystemService.GetLocalizedString("Welcome")</MudText>

        <div style="min-height:100px;"></div>

        <InteractiveComponent LoadingType="InteractiveComponentLoadingTypeEnum.Circular">

            <MudCarousel TData="object" Style="width:90%;height:480px">

                <MudCarouselItem Class="d-flex align-center flex-column">
                    <MudPaper Class="px-4 py-2" Elevation="3" Style="max-width:90%;max-height:80%;opacity:0.95;background-color:var(--mud-palette-appbar-background);backdrop-filter:blur(8px)">
                        <MudText Class="ma-1" Align="Align.Center" Typo="Typo.h6">
                            @DarimarSystemService.GetLocalizedString("LogisticsCompany"):<br>
                            @DarimarSystemService.GetLocalizedString("LogisticsCompanyDescription")
                        </MudText>
                    </MudPaper>
                    <div style="min-height:40px;"></div>
                    <MudImage Class="d-flex" Src="Truck_At_Work_blurred.jpg" Fluid="true" Style="max-width:100%;max-height:60%;border-radius:8px" />
                </MudCarouselItem>

                <MudCarouselItem Class="d-flex align-center flex-column">
                    <MudPaper Class="px-4 py-2" Elevation="3" Style="max-width:90%;max-height:80%;opacity:0.95;background-color:var(--mud-palette-appbar-background);backdrop-filter:blur(8px)">
                        <MudText Class="ma-1" Align="Align.Center" Typo="Typo.h6">
                            @DarimarSystemService.GetLocalizedString("WebDevelopmentCompany"):<br>
                            @DarimarSystemService.GetLocalizedString("WebDevelopmentCompanyDescription")
                        </MudText>
                    </MudPaper>
                    <div style="min-height:40px;"></div>
                    <MudImage Class="d-flex" Src="coding_wallpaper.webp" Fluid="true" Style="max-width:100%;max-height:60%;border-radius:8px" />
                </MudCarouselItem>

                <MudCarouselItem Class="d-flex align-center flex-column">
                    <MudPaper Class="px-4 py-2" Elevation="3" Style="max-width:90%;max-height:80%;opacity:0.95;background-color:var(--mud-palette-appbar-background);backdrop-filter:blur(8px)">
                        <MudText Class="ma-1" Align="Align.Center" Typo="Typo.h6">
                            @DarimarSystemService.GetLocalizedString("GameDevelopmentCompany"):<br>
                            @DarimarSystemService.GetLocalizedString("GameDevelopmentCompanyDescription")
                        </MudText>
                    </MudPaper>
                    <div style="min-height:40px;"></div>
                    <MudImage Class="d-flex" Src="staeball.png" Fluid="true" Style="max-width:100%;max-height:60%;border-radius:8px" />
                </MudCarouselItem>

            </MudCarousel>

            <div style="min-height:100px;"></div>

        </InteractiveComponent>

    </PageContent>

</PageDefinitions>
